.full-info{
	background-color: #fff;
	padding: 1rem;
	&__title{
		font-weight: normal;
		padding-bottom: .5rem;
		border-bottom: 1px solid #ddd;
	}
	&__post-info{
		padding-left: 25%;
		list-style: none;
	}
}