.section-stages{
	padding: 0;
	list-style-type: none;
	display: flex;
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 1px solid #6699ff;
		text-align: center;
		margin: 0 1rem;
		cursor: pointer;
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		.fa{
			font-size: 1.60rem;
			color: #6699ff
		}
		&__switch{
			border: none;
			background-color: transparent;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			height: $icon_size;
			width: $icon_size;
			line-height: $icon_size;
			transition: .3s ease;
			&:hover{
				background-color: #6699ff;
				.fa{
					color: #fff;
				}
			}
		}
	}
